/*
   Licensed to Jasig under one or more contributor license
   agreements. See the NOTICE file distributed with this work
   for additional information regarding copyright ownership.
   Jasig licenses this file to you under the Apache License,
   Version 2.0 (the "License"); you may not use this file
   except in compliance with the License. You may obtain a
   copy of the License at:

   http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on
   an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied. See the License for the
   specific language governing permissions and limitations
   under the License.
*/

/* RESPONSIVE OVERRIDES to the Bedework 3.10 Theme
   Place overrides in here based on media queries.
   This file is loaded AFTER bwThemeGlobal.css

   Note that the default here is 992px *and up* - this stylesheet
   cascades below bwThemeGlobal.css
*/

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
  h3 {
    letter-spacing: 0;
  }
  #ongoing .caret {
    display: none;
  }
}
